# Ignore everything except for the files necessary to build the codebase.
*
!config
!docker
!html/modules/custom
!html/themes/custom
!PATCHES
!scripts
!composer.json
!composer.lock
!composer.patches.json
!symfony.lock
!load.environment.php

# Ignore the node modules in the theme.
html/themes/custom/gms_ocha_common/node_modules
