<div class="row">
  <div class="explore-main container-fluid">
    <div class="container">
      <h2 class="lable-explore">Explore</h2>
      <div class="row">
        <div class="col-sm-4"><div class="first-box"><h1>BY DONOR</h1></div></div>
        <div class="col-sm-4"><div class="second-box"><h1>BY COUNTRY</h1></div></div>
        <div class="col-sm-4"><div class="third-box"><h1>BY CLUSTER</h1></div></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><div class="first-box"><h1>BY YEAR</h1></div></div>
        <div class="col-sm-4"><div class="second-box"><h1>BY PARTNER TYPE</h1></div></div>
        <div class="col-sm-4"><div class="third-box"><h1>BY BENEFICIARY</h1></div></div>
      </div>
    </div>
  </div>
</div>
