<div class="row">
  <div class="explore-main">
    <div class="cd-container">
      <h2 class="lable-explore">Explore</h2>
      <div class="cd-grid cd-grid--3-col">
        <div><div class="first-box"><h1>BY DONOR</h1></div></div>
        <div><div class="second-box"><h1>BY COUNTRY</h1></div></div>
        <div><div class="third-box"><h1>BY CLUSTER</h1></div></div>
      </div>
      <div class="cd-grid cd-grid--3-col">
        <div><div class="first-box"><h1>BY YEAR</h1></div></div>
        <div><div class="second-box"><h1>BY PARTNER TYPE</h1></div></div>
        <div><div class="third-box"><h1>BY BENEFICIARY</h1></div></div>
      </div>
    </div>
  </div>
</div>
